-- ==========================================
-- ValPoint Supabase 数据库一键重建脚本
-- 版本: 2.0 | 更新日期: 2025-12-26
-- ==========================================
-- 使用说明:
-- 1. 在 Supabase Dashboard -> SQL Editor 中执行此脚本
-- 2. 执行前确保已启用 Email Auth Provider
-- 3. 脚本是幂等的，可重复执行
-- ==========================================

-- ==========================================
-- 1. 基础扩展
-- ==========================================
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- ==========================================
-- 2. 通用函数
-- ==========================================

-- 自动更新 updated_at 时间戳
CREATE OR REPLACE FUNCTION handle_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- 新用户注册时自动创建 user_profiles 记录
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
    INSERT INTO public.user_profiles (id, email, nickname, custom_id, avatar, role)
    VALUES (
        NEW.id,
        NEW.email,
        COALESCE(NEW.raw_user_meta_data->>'nickname', ''),
        COALESCE(NEW.raw_user_meta_data->>'custom_id', ''),
        COALESCE(NEW.raw_user_meta_data->>'avatar', ''),
        'user'
    );
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- ==========================================
-- 3. 数据表定义
-- ==========================================

-- 3.1 用户资料表
CREATE TABLE IF NOT EXISTS public.user_profiles (
    id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
    email TEXT,
    nickname TEXT,
    avatar TEXT,
    custom_id TEXT UNIQUE,
    role TEXT DEFAULT 'user' CHECK (role IN ('user', 'admin', 'super_admin')),
    is_banned BOOLEAN DEFAULT false,
    ban_reason TEXT,
    download_count BIGINT DEFAULT 0,
    can_batch_download BOOLEAN DEFAULT false,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 3.2 个人点位库
CREATE TABLE IF NOT EXISTS public.valorant_lineups (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    title TEXT,
    map_name TEXT,
    agent_name TEXT,
    agent_icon TEXT,
    skill_icon TEXT,
    side TEXT CHECK (side IN ('attack', 'defense')),
    ability_index INTEGER,
    agent_pos JSONB,
    skill_pos JSONB,
    stand_img TEXT,
    stand_desc TEXT,
    stand2_img TEXT,
    stand2_desc TEXT,
    aim_img TEXT,
    aim_desc TEXT,
    aim2_img TEXT,
    aim2_desc TEXT,
    land_img TEXT,
    land_desc TEXT,
    source_link TEXT,
    cloned_from UUID,
    author_name TEXT,
    author_avatar TEXT,
    author_uid TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 3.3 共享中心库
CREATE TABLE IF NOT EXISTS public.valorant_shared (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    source_id TEXT,
    title TEXT,
    map_name TEXT,
    agent_name TEXT,
    agent_icon TEXT,
    skill_icon TEXT,
    side TEXT CHECK (side IN ('attack', 'defense')),
    ability_index INTEGER,
    agent_pos JSONB,
    skill_pos JSONB,
    stand_img TEXT,
    stand_desc TEXT,
    stand2_img TEXT,
    stand2_desc TEXT,
    aim_img TEXT,
    aim_desc TEXT,
    aim2_img TEXT,
    aim2_desc TEXT,
    land_img TEXT,
    land_desc TEXT,
    source_link TEXT,
    author_name TEXT,
    author_avatar TEXT,
    author_uid TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 3.4 点位投稿审核表
CREATE TABLE IF NOT EXISTS public.lineup_submissions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    submitter_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    submitter_email TEXT,
    title TEXT,
    map_name TEXT,
    agent_name TEXT,
    agent_icon TEXT,
    skill_icon TEXT,
    side TEXT DEFAULT 'attack' CHECK (side IN ('attack', 'defense')),
    ability_index INTEGER,
    agent_pos JSONB,
    skill_pos JSONB,
    description TEXT,
    stand_img TEXT,
    stand_desc TEXT,
    stand2_img TEXT,
    stand2_desc TEXT,
    aim_img TEXT,
    aim_desc TEXT,
    aim2_img TEXT,
    aim2_desc TEXT,
    land_img TEXT,
    land_desc TEXT,
    source_link TEXT,
    author_name TEXT,
    author_avatar TEXT,
    author_uid TEXT,
    status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'approved', 'rejected')),
    reject_reason TEXT,
    reviewed_by TEXT,
    reviewed_at TIMESTAMPTZ,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 3.5 每日下载限制表
CREATE TABLE IF NOT EXISTS public.user_daily_downloads (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    date DATE NOT NULL,
    count INTEGER DEFAULT 0,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    UNIQUE(user_id, date)
);

-- 3.6 系统设置表
CREATE TABLE IF NOT EXISTS public.system_settings (
    id UUID PRIMARY KEY DEFAULT '00000000-0000-0000-0000-000000000001'::uuid,
    personal_library_url TEXT DEFAULT '',
    shared_library_url TEXT DEFAULT '',
    official_oss_config JSONB,
    submission_enabled BOOLEAN DEFAULT true,
    daily_submission_limit INTEGER DEFAULT 10,
    daily_download_limit INTEGER DEFAULT 50,
    author_links JSONB DEFAULT '{
        "github_url": "",
        "tutorial_url": "",
        "donate_wechat_qr": "",
        "donate_alipay_qr": "",
        "contact_wechat_qr": ""
    }'::jsonb,
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- 初始化系统设置（如果不存在）
INSERT INTO public.system_settings (id)
VALUES ('00000000-0000-0000-0000-000000000001')
ON CONFLICT (id) DO NOTHING;

-- ==========================================
-- 4. 触发器
-- ==========================================

-- 4.1 新用户注册触发器
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
    AFTER INSERT ON auth.users
    FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- 4.2 自动更新 updated_at 触发器
DROP TRIGGER IF EXISTS tr_user_profiles_updated_at ON public.user_profiles;
CREATE TRIGGER tr_user_profiles_updated_at
    BEFORE UPDATE ON public.user_profiles
    FOR EACH ROW EXECUTE FUNCTION handle_updated_at();

DROP TRIGGER IF EXISTS tr_valorant_lineups_updated_at ON public.valorant_lineups;
CREATE TRIGGER tr_valorant_lineups_updated_at
    BEFORE UPDATE ON public.valorant_lineups
    FOR EACH ROW EXECUTE FUNCTION handle_updated_at();

DROP TRIGGER IF EXISTS tr_valorant_shared_updated_at ON public.valorant_shared;
CREATE TRIGGER tr_valorant_shared_updated_at
    BEFORE UPDATE ON public.valorant_shared
    FOR EACH ROW EXECUTE FUNCTION handle_updated_at();

DROP TRIGGER IF EXISTS tr_lineup_submissions_updated_at ON public.lineup_submissions;
CREATE TRIGGER tr_lineup_submissions_updated_at
    BEFORE UPDATE ON public.lineup_submissions
    FOR EACH ROW EXECUTE FUNCTION handle_updated_at();

DROP TRIGGER IF EXISTS tr_user_daily_downloads_updated_at ON public.user_daily_downloads;
CREATE TRIGGER tr_user_daily_downloads_updated_at
    BEFORE UPDATE ON public.user_daily_downloads
    FOR EACH ROW EXECUTE FUNCTION handle_updated_at();

-- ==========================================
-- 5. 行级安全策略 (RLS)
-- ==========================================

-- 5.1 启用 RLS
ALTER TABLE public.user_profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.valorant_lineups ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.valorant_shared ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.lineup_submissions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.user_daily_downloads ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.system_settings ENABLE ROW LEVEL SECURITY;

-- 5.2 user_profiles 策略
DROP POLICY IF EXISTS "Allow anon read user_profiles" ON public.user_profiles;
CREATE POLICY "Allow anon read user_profiles"
    ON public.user_profiles FOR SELECT
    USING (true);

DROP POLICY IF EXISTS "Users can update own profile" ON public.user_profiles;
CREATE POLICY "Users can update own profile"
    ON public.user_profiles FOR UPDATE TO authenticated
    USING (id = auth.uid());

-- 5.3 valorant_lineups 策略 (个人库 - 只能操作自己的)
DROP POLICY IF EXISTS "Users can view own lineups" ON public.valorant_lineups;
CREATE POLICY "Users can view own lineups"
    ON public.valorant_lineups FOR SELECT TO authenticated
    USING (user_id = auth.uid());

DROP POLICY IF EXISTS "Users can insert own lineups" ON public.valorant_lineups;
CREATE POLICY "Users can insert own lineups"
    ON public.valorant_lineups FOR INSERT TO authenticated
    WITH CHECK (user_id = auth.uid());

DROP POLICY IF EXISTS "Users can update own lineups" ON public.valorant_lineups;
CREATE POLICY "Users can update own lineups"
    ON public.valorant_lineups FOR UPDATE TO authenticated
    USING (user_id = auth.uid());

DROP POLICY IF EXISTS "Users can delete own lineups" ON public.valorant_lineups;
CREATE POLICY "Users can delete own lineups"
    ON public.valorant_lineups FOR DELETE TO authenticated
    USING (user_id = auth.uid());

-- 5.4 valorant_shared 策略 (共享库 - 公开读取)
DROP POLICY IF EXISTS "Anyone can view shared lineups" ON public.valorant_shared;
CREATE POLICY "Anyone can view shared lineups"
    ON public.valorant_shared FOR SELECT
    USING (true);

DROP POLICY IF EXISTS "Only admins can modify shared lineups" ON public.valorant_shared;
CREATE POLICY "Only admins can modify shared lineups"
    ON public.valorant_shared FOR ALL TO authenticated
    USING (EXISTS (
        SELECT 1 FROM public.user_profiles
        WHERE id = auth.uid() AND role IN ('admin', 'super_admin')
    ));

-- 5.5 lineup_submissions 策略 (投稿 - 用户操作自己的，管理员可查看全部)
DROP POLICY IF EXISTS "Users can view own submissions" ON public.lineup_submissions;
CREATE POLICY "Users can view own submissions"
    ON public.lineup_submissions FOR SELECT TO authenticated
    USING (
        submitter_id = auth.uid() OR
        EXISTS (
            SELECT 1 FROM public.user_profiles
            WHERE id = auth.uid() AND role IN ('admin', 'super_admin')
        )
    );

DROP POLICY IF EXISTS "Users can insert own submissions" ON public.lineup_submissions;
CREATE POLICY "Users can insert own submissions"
    ON public.lineup_submissions FOR INSERT TO authenticated
    WITH CHECK (submitter_id = auth.uid());

DROP POLICY IF EXISTS "Users can update own submissions" ON public.lineup_submissions;
CREATE POLICY "Users can update own submissions"
    ON public.lineup_submissions FOR UPDATE TO authenticated
    USING (
        submitter_id = auth.uid() OR
        EXISTS (
            SELECT 1 FROM public.user_profiles
            WHERE id = auth.uid() AND role IN ('admin', 'super_admin')
        )
    );

DROP POLICY IF EXISTS "Users can delete own submissions" ON public.lineup_submissions;
CREATE POLICY "Users can delete own submissions"
    ON public.lineup_submissions FOR DELETE TO authenticated
    USING (submitter_id = auth.uid());

-- 5.6 user_daily_downloads 策略
DROP POLICY IF EXISTS "Users can view own downloads" ON public.user_daily_downloads;
CREATE POLICY "Users can view own downloads"
    ON public.user_daily_downloads FOR SELECT TO authenticated
    USING (user_id = auth.uid());

DROP POLICY IF EXISTS "Users can upsert own downloads" ON public.user_daily_downloads;
CREATE POLICY "Users can upsert own downloads"
    ON public.user_daily_downloads FOR ALL TO authenticated
    USING (user_id = auth.uid())
    WITH CHECK (user_id = auth.uid());

-- 5.7 system_settings 策略
DROP POLICY IF EXISTS "Anyone can read system settings" ON public.system_settings;
CREATE POLICY "Anyone can read system settings"
    ON public.system_settings FOR SELECT
    TO anon, authenticated
    USING (true);

DROP POLICY IF EXISTS "Only admins can update system settings" ON public.system_settings;
CREATE POLICY "Only admins can update system settings"
    ON public.system_settings FOR UPDATE TO authenticated
    USING (EXISTS (
        SELECT 1 FROM public.user_profiles
        WHERE id = auth.uid() AND role IN ('admin', 'super_admin')
    ));

-- ==========================================
-- 6. Storage 存储桶配置
-- ==========================================
-- 注意: 存储桶需要在 Supabase Dashboard 中手动创建
-- 桶名: submissions
-- 公开访问: true (用于投稿图片)

-- Storage RLS 策略 (在 Dashboard -> Storage -> Policies 中配置)
-- Policy 1: "Users can upload own submissions"
--   Allowed operation: INSERT
--   Target roles: authenticated
--   WITH CHECK: bucket_id = 'submissions' AND (storage.foldername(name))[1] = auth.uid()::text

-- Policy 2: "Users can delete own submissions"
--   Allowed operation: DELETE
--   Target roles: authenticated
--   USING: bucket_id = 'submissions' AND (storage.foldername(name))[1] = auth.uid()::text

-- Policy 3: "Public can view submissions"
--   Allowed operation: SELECT
--   Target roles: anon, authenticated
--   USING: bucket_id = 'submissions'

-- ==========================================
-- 7. 索引优化 (可选)
-- ==========================================
CREATE INDEX IF NOT EXISTS idx_valorant_lineups_user_id ON public.valorant_lineups(user_id);
CREATE INDEX IF NOT EXISTS idx_valorant_lineups_map_agent ON public.valorant_lineups(map_name, agent_name);
CREATE INDEX IF NOT EXISTS idx_valorant_shared_map_agent ON public.valorant_shared(map_name, agent_name);
CREATE INDEX IF NOT EXISTS idx_lineup_submissions_submitter ON public.lineup_submissions(submitter_id);
CREATE INDEX IF NOT EXISTS idx_lineup_submissions_status ON public.lineup_submissions(status);
CREATE INDEX IF NOT EXISTS idx_user_daily_downloads_lookup ON public.user_daily_downloads(user_id, date);

-- ==========================================
-- 脚本执行完成
-- ==========================================

-- ==========================================
-- 8. 下载日志表
-- ==========================================

-- 8.1 下载日志表
CREATE TABLE IF NOT EXISTS public.download_logs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    user_email TEXT,
    lineup_id TEXT,
    lineup_title TEXT,
    map_name TEXT,
    agent_name TEXT,
    download_count INTEGER DEFAULT 1,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 8.2 启用 RLS
ALTER TABLE public.download_logs ENABLE ROW LEVEL SECURITY;

-- 8.3 RLS 策略
DROP POLICY IF EXISTS "Users can insert own download logs" ON public.download_logs;
CREATE POLICY "Users can insert own download logs"
    ON public.download_logs FOR INSERT TO authenticated
    WITH CHECK (user_id = auth.uid());

DROP POLICY IF EXISTS "Admins can view all download logs" ON public.download_logs;
CREATE POLICY "Admins can view all download logs"
    ON public.download_logs FOR SELECT TO authenticated
    USING (EXISTS (
        SELECT 1 FROM public.user_profiles
        WHERE id = auth.uid() AND role IN ('admin', 'super_admin')
    ));

-- 8.4 索引
CREATE INDEX IF NOT EXISTS idx_download_logs_user_id ON public.download_logs(user_id);
CREATE INDEX IF NOT EXISTS idx_download_logs_created_at ON public.download_logs(created_at DESC);

